body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}
.payment-header,.payment-footer{
    margin-top: 10px;
    padding: 3px;
    background-color: rgb(216, 213, 213);
}
.payment-header h1{
    margin-left: 10px;
    padding-left: 10px;
}
.container{
    margin-top: 20px;
}
.finalfield{
    margin-bottom: 20px;
}
.div-cards {
    margin-left: 10px;
    background-color: rgb(216, 213, 213);
    display: flex;
    justify-content: space-between;
}
.payment-footer div{
    padding: 5px;
    text-align: end;
}

.form-check-input:checked[type=radio]{
    color: #fff;
    border-color: black;
    background-color:grey;
}